<div class="container" >
    <!-- start: PAGE HEADER -->
           <div class="row">
               <div class="col-sm-12">
                   
                   <!-- start: PAGE TITLE & BREADCRUMB -->
                   <ol class="breadcrumb">
                       <li class="breadcrumb-item">
                           <a routerLink="/adminhome"> <i class="fa fa-home"></i>&nbsp;Home </a>
                       </li>
                       <li class="breadcrumb-item active" aria-current="page">
                           Add Employee
                       </li>
                   </ol>
               </div>
           </div>
   
   <form (ngSubmit)="onSubmit()" method="POST" >	
     
       <div class="card">
           <div class="card-header"><h4>Add Employee</h4></div>
       <div class="card-body">
       <div class="form-group">
           <label for="emp_name"> Name:</label>
               <input type="text" class="form-control mb-3" id="emp_name" placeholder="Enter Employee Name" [(ngModel)]="employee.emp_name" name="emp_name" required>
          </div>    
          
          <div class="form-group">
             <label for="emp_email"> Email:</label>
               <input type="email" class="form-control mb-3" id="emp_email" placeholder="Enter Employee Email" [(ngModel)]="employee.emp_email" name="emp_email" required>
          </div> 
          
          <div class="form-group">
         <label for="designation">Designation:</label>
           
           <select class="form-control mb-3" style="width:100%;" id="designation"  name="designation" [(ngModel)]="employee.designation" required >
               <option selected disabled>Select Designation</option>
                <option *ngFor="let desig of desiglist" [ngValue]="desig">{{desig.desig_name}}</option>
           </select>
       </div> 
            
     <div class="form-group">
         <label for="company">Company:</label>
           <select class="form-control mb-3" style="width:100%;" id="company"  name="company" required (change)="getdeptbycompid($event)">
               <option selected disabled="disabled">Select Company Name</option>
               <option *ngFor="let comp of clist" [ngValue]="comp">{{comp.comp_name}}</option> 
           </select>
      </div>
       
      <div class="form-group">
            <label for="department">Department:</label>
                <select class="form-control  mb-3" style ="width:100%;" id="department" [(ngModel)]="employee.department" name="department" required >
                    <option selected disabled> Select Department </option>
                    <option *ngFor="let dept of deptlist" [ngValue]="dept">{{dept.dept_name}}</option> 
                </select>
      </div>
      
       <div class="form-group mb-3">
        <label for="multi_assets">Assets</label>
        <ng-select
            [items]="assetlist"
            [(ngModel)]="employee.asset_ids"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="asset_name"
            bindValue="asset_id"
            placeholder="Select Assets"
            name="multi_assets"
        >
        <ng-template ng-label-tmp let-item="item">
            <span>{{ item.asset_name+"("+item.model_number +")" }}</span>
        </ng-template>
     
        </ng-select>
    </div>
   
       <button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;<button type="reset" class="btn btn-primary">Cancel</button>
     </div>
   </div>
  </form>
 </div>