
<div class="container">
    <!-- start: PAGE HEADER -->
    <div class="row">
        <div class="col-sm-12">
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home "></i>&nbsp;Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Confirm Otp</li>
            </ol>
        </div>
    </div>               
    <div *ngIf="response"> <h6 class="alert alert-success">{{response}}</h6> </div>
    <div *ngIf="reserr"> <h6 class="alert alert-warning">{{reserr}}</h6> </div>
  <form (ngSubmit)="updatePassword()"  method="POST"  >	
    <div class="card">
          <div class="card-header"><h4>Confirm OTP</h4></div>
            <div class="card-body">
              <input type="hidden" class="form-control" id="user_email" name="user_email" [(ngModel)]="user.email" >
              <div class="form-group mb-3">
                <label for="cnf_otp">Confirm OTP</label>
                  <input type="text" class="form-control" id="cnf_otp" name="cnf_otp" placeholder="Enter OTP Number" [(ngModel)]="user.cnf_otp" autocomplete="off" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;
              <button type="reset"  class="btn btn-primary">Cancel</button>
            </div>
      </div>
  </form>
</div>