<div class="container">
    <!-- start: PAGE HEADER -->
           <div class="row">
               <div class="col-sm-12">
                   <!-- start: PAGE TITLE & BREADCRUMB -->
                   <ol class="breadcrumb">
                       <li class="breadcrumb-item">
                           <a routerLink="/adminhome"><i class="fa fa-home"></i>&nbsp;Home </a>
                       </li>
                       <li class="breadcrumb-item active" aria-current="page">Change Password </li>
                   </ol>
               </div>
           </div>
     
       <div class="card">
           <form (ngSubmit)="changepassword()" method="POST">
           <div class="card-header"><h4>Change Password</h4> </div>
               <div class="card-body">
                <input type="hidden" [(ngModel)]="user.user_id" id="user_id" name="user_id"/>
                <div class="form-group mb-2">
                    <label for="new_pass">New Password:</label>
                      <input type="password" class="form-control" id="new_pass" placeholder="Enter New Password" [(ngModel)]="user.new_pass" name="new_pass" required>
                   </div>
                   <div class="form-group mb-2">
                    <label for="cnf_pass">Confirm Password:</label>
                        <input type="password" class="form-control" id="cnf_pass" placeholder="Confirm the Password" [(ngModel)]="user.cnf_pass" name="cnf_pass" required>
                   </div>
                 <div class="form-group ">
                      <button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;
                      <button type="reset" class="btn btn-primary">Cancel</button>
                </div>
                </div>
           </form>
       </div>
   </div>