<div class="container">
    <!-- start: PAGE HEADER -->
    <div class="row">
        <div class="col-sm-12">
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/adminhome">
                        <i class="fa fa-home"></i>&nbsp;Home
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Retrive Assets
                </li>
            </ol>
        </div>
    </div>
    <form (ngSubmit)="onSubmit()" method="POST"  >	
        <div class="card">
            <div class="card-header"> <h4>Retrieve Asset(s)</h4> </div>
            <div class="card-body">
                <input type="hidden" id="emp_id" name="emp_id" [(ngModel)]="employee.emp_id"/>
                <div class="form-group">
                    <label for="emp_name">Employee Name</label>
                        <input class="form-control mb-3" type="text" id="emp_name" name="emp_name" [(ngModel)]="employee.emp_name" disabled required />
                </div>
                <div class="form-group">
                    <label for="already_assigned">Assigned Assets</label>
                        <input class="form-control mb-3" type="text" id="already_assigned" name="already_assigned" [(ngModel)]="already_assigned" disabled required />
                </div>
                <!-- <div class="form-group mb-3">
                    <label for="multi_assets">Assets</label>
                    <ng-select
                        [items]="matched"
                        [(ngModel)]="matched"
                        
                        [multiple]="true"
                        [closeOnSelect]="false"
                        bindLabel="asset_name"
                        bindValue="asset_id"
                        placeholder="Select Assets"
                        name="multi_assets"
                    >
                    </ng-select>
                </div> -->
                <div class="form-group  mb-3">
                    <label for="comments">Comment</label> 
                         <textarea class="form-control mb-3" cols="3" rows="6"  id="comments"  [(ngModel)]="employee.comments" name="comments" >
                         </textarea>
                </div>
                
                <input type="submit" class="btn btn-primary" value="Submit" /> 
                <input type="reset" class="btn btn-primary" value="RESET" />
            </div>
        </div>
    </form>
</div>