<div class="container-fluid ">

       <!-- start: PAGE HEADER -->
       <div class="row">
        <div class="col-sm-12">
            <div >
                <h2>{{title}}</h2>
                <h3 class="text-center">Welcome {{user}}</h3>
            </div>
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/adminhome"><i class="fa fa-home"></i>&nbsp;Home</a>
                </li>
            </ol> -->
        </div>
       </div>
       <div class="row  "  >
        <div class="carding">

        </div>
        <div class="carding">

        </div>
        <div class="carding">

        </div>
        <div class="carding">

        </div>
       </div>
       <!-- <div class="card">
        <div class="card-body">
            <div >
                <a routerLink="/viewassignedassets" > <i class="fa fa-eye fa-lg"></i> View Assigned Assets </a>
             </div>
             <div>
                <a routerLink="/addemployee" style="float : right; "> <i class="fa fa-plus fa-lg"></i> Add Employee </a>
             </div>
        </div>
    </div> -->
    
</div>
