
<div class="container">
    <!-- start: PAGE HEADER -->
       <div class="row">
           <div class="col-sm-12">
               <!-- start: PAGE TITLE & BREADCRUMB -->
               <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home "></i>&nbsp;Home</a></li>
                   <li class="breadcrumb-item active" aria-current="page">Update Password</li>
               </ol>
           </div>
       </div>               
       <!-- <div class="alert alert-success" *ngIf="response!='null'">
                {{response}}
       </div>                      -->
<form (ngSubmit)="updatePassword()"  method="POST"  >	
    <div class="card">
          <div class="card-header"><h4>Update Password</h4></div>
            <div class="card-body">
                <div class="form-group mb-3">
                    <label for="new_pass">New Password</label>
                      <input type="password" class="form-control" id="new_pass" name="new_pass" placeholder="Enter New Password" [(ngModel)]="user.new_pass" autocomplete="off" required>
                </div>
                <div class="form-group mb-3">
                <label for="cnf_pass">Confirm Password</label>
                    <input type="password" class="form-control" id="cnf_pass" name="cnf_pass" placeholder="Confirm Password" [(ngModel)]="user.cnf_pass" autocomplete="off" required>
                </div>
              <button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;
              <button type="reset" class="btn btn-primary">Cancel</button>
            </div>
      </div>
  </form>    
  </div>                                   