<div class="container" >
	
    <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink=""> <i class="fa fa-home"></i>&nbsp;Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">View Department</li>
                </ol>
            </div>
        </div>
        <div class="card-header">
            <h4>View Departments 
                <a routerLink="/adddepartment" style="float:right;" class="btn btn-primary mb-3">Add Department</a>
            </h4>
    </div>
    
    <div class="card-body">
            <div class="table-responsive-sm">    
      <table class="table table-striped table-hover table-full-width dt-responsive nowrap" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  style="width: 100%;" id="comptable">
        <thead>
            <tr>
                <th>Sr No.</th> 
                <th>Department</th>
                <th>Company</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dept of deptlist;let i = index ">
                <td>{{i+1}}</td>
                <td>{{dept.dept_name}}</td>
                <td>{{dept.company.comp_name}}</td>
                <td>
                    <button (click)="getDeptById(dept.dept_id)" class="btn btn-primary" > <i class="fa fa-edit"></i> Edit</button> 
                </td>
            </tr> 
        </tbody>
      </table>
     </div>
    </div>
  </div>
