<div class="container" >
    <!-- start: PAGE HEADER -->
       <div class="row">
           <div class="col-sm-12">
               <!-- start: PAGE TITLE & BREADCRUMB -->
               <ol class="breadcrumb">
                   <li class="breadcrumb-item">
                       <a routerLink="/"><i class="fa fa-home"></i>&nbsp;Home</a>
                   </li>
                   <li class="breadcrumb-item active" aria-current="page">Add Asset</li>
               </ol>
           </div>
       </div>
     <form (ngSubmit)="onSubmit()" method="POST"  >	
         <div class="card">
           <div class="card-header"><h4>Add Asset</h4></div>
         <div class="card-body">
            <div class="form-group">
                <label for="assettype">Asset Type</label>
                  <select class="form-control mb-3" id="assettype"  name="assettype" [(ngModel)]="asset.atype">
                      <option selected >Please Select Asset Type </option>
                          <option *ngFor="let type of atypelist" [ngValue]="type">{{type.type_name}}</option>
                  </select>
              </div>
           <div class="form-group">
            <label for="asset_name">Asset Name</label>
              <input type="text" class="form-control  mb-3" id="asset_name" placeholder="Enter Asset Name" [(ngModel)]="asset.asset_name" name="asset_name" required>
          </div>
          <div class="form-group">
            <label for="asset_number">Asset Number</label>
              <input type="text" class="form-control  mb-3" id="asset_number" placeholder="Enter Asset Number" [(ngModel)]="asset.asset_number" name="asset_number" required>
          </div>
          <div class="form-group">
            <label for="model_number">Model Number</label>
              <input type="text" class="form-control  mb-3" id="model_number" placeholder="Enter Model Number" [(ngModel)]="asset.model_number" name="model_number" required>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
              <input type="number" class="form-control  mb-3" id="quantity" placeholder="Enter Quantity" [(ngModel)]="asset.quantity" name="quantity" required>
          </div>
           <button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;<button type="reset" class="btn btn-primary">Cancel</button>
         </div>
      </div>
     </form>
   </div>