<div class="container" >
    <!-- start: PAGE HEADER -->
       <div class="row">
           <div class="col-sm-12">
               <!-- start: PAGE TITLE & BREADCRUMB -->
               <ol class="breadcrumb">
                   <li class="breadcrumb-item">
                       <a href="/"><i class="fa fa-home"></i>&nbsp;Home</a>
                   </li>
                   <li class="breadcrumb-item active" aria-current="page">Edit Department</li>
               </ol>
           </div>
       </div>
     <form (ngSubmit)="onSubmit()" method="POST"  >	
         <div class="card">
           <div class="card-header"><h4>Edit Department</h4></div>
         <div class="card-body">
            <div class="form-group">
                <label for="company">Company</label>
                  <select class="form-control mb-3" id="company"  name="company" [(ngModel)]="department.company">
                      <option selected disabled>Please Select Company Name</option>
                       <option *ngFor="let comp of clist"  [ngValue]="comp">{{comp.comp_name}}</option>  
                  </select>
              </div>
           <div class="form-group">
             <label for="dept_name">Department</label>
               <input type="text" class="form-control  mb-3" id="dept_name" placeholder="Enter Department" [(ngModel)]="department.dept_name" name="dept_name" required>
           </div>
           <button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;<button type="reset" class="btn btn-primary">Cancel</button>
         </div>
      </div>
     </form>
   </div>